[Unit]
Description=Monitor FileSystem, Do Something on Some FileAction. see https://github.com/vcup/MonitorFileSystem

[Service]
WorkingDirectory=/opt/monitorfs
ExecStart=/usr/bin/dotnet /opt/monitorfs/MonitorFileSystem.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
TimeoutStopSec=90
SyslogIdentifier=MonitorFileSystem
User=%i
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
